font-family: 'Exo', sans-serif;
.fat {
    word-wrap:break-word;
}
.hei {
    height:initial;
}
body {
    animation: mm 2s ease;
    @keyframes mm {
        0% {
            width: 0%;
        }
        100% {
            width:100%;
        }
    }
}
