font-family: 'Exo', sans-serif;
.fat {
    word-wrap:break-word;
    
}

.loaded .hei {
    height:initial;
    animation: hh 3s ease;
    opacity: 1;
}
.loaded {
    opacity: 1;
}
body{
    background-color: black;
    opacity: 0;
}
.loaded img {
    animation: mm 1.2s cubic-bezier(1, .13, .41, 1);
    margin-left: 0%;
    margin-top: 0%;
    opacity: 1;
}
@keyframes hh {
    0% {opacity:0;} 100% {opacity:1;}
}
@keyframes mm {
        0% {
            margin-top: -120%;
            margin-left:-170%;
            opacity: 0;
            width: 600%;
        }
        100% {
            margin-top: 0%;
            margin-left:0%;
            opacity: 1;
            width:100%;
        }
    }
